.bmi-wrapper {
    max-width: 600px;
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
    padding: 2.5rem;
}
.bmi h1 {
    font-size: 4rem;
    color: var(--mainText);
    font-weight: 600;
    margin: 0;
}
.bmi h3 {
    font-weight: 500;
    font-size: 2.2rem;
    margin: 0 0 1rem 0;
    line-height: 1.2;
}
.bmi .title p {
    color: var(--textRed);
    margin-bottom: 4rem;
    font-size: 1.7rem;
}
.bmi {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.bmi .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    min-width: 50px;
}
.form .metric-input {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.form .metric-input input {
    min-width: 200px;
    padding: 1.5rem;
    border-radius: 1rem;
    font-size: 1.6rem;
}
.form .imperial-input {
    display: flex;
    flex-direction: column;
}
.form .imperial-input .weight {
    padding-bottom: 2rem;
}
.form .imperial-input input {
    padding: 1.5rem;
    border-radius: 1rem;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
.bmi .btn-set {
    display: flex;
    gap: 1rem;
}
.bmi .btn-submit {
    padding: 1rem 2.5rem;
    border-radius: 1rem;
    background: var(--pastelRed);
    border: none;
    color: var(--mainText);
    font-size: 1.8rem;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.bmi .btn-submit:hover {
    transform: translatey(5px);
    color: var(--mainText);
    background-color: var(--btnActive);
}

.bmi .btn-refresh {
    font-size: 2rem;
    color: var(--mainText);
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    background: rgba(66, 66, 66, 0);
    color: var(--mainText);
    font-size: 1.8rem;
    cursor: pointer;
    border: solid 1px var(--mainText);
    min-width: 50px;
    transition: .3s ease-in-out;
}
.bmi .btn-refresh:hover {
    color: var(--mainText);
    background-color: var(--btnActive);
    border: solid 1px transparent;
    transform: translateY(5px);
}
.bmi .btn-refresh i {
    transition: .3s ease-in-out;
}
.bmi .btn-refresh:hover i {
    transform: rotate(180deg);
}
.imperial-switch,
.metric-switch {
    font-size: 2rem;
    color: var(--mainText);
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    background: transparent;
    color: var(--mainText);
    font-size: 1.8rem;
    cursor: pointer;
    border: solid 1px var(--mainText);
    min-width: 50px;
    transition: .3s ease-in-out;
    font-weight: 300;
}
.imperial-switch:hover,
.metric-switch:hover {
    color: var(--mainText);
    background-color: var(--btnActive);
    border: solid 1px transparent;
}

.bmi .result {
    font-size: 3.5rem;
    font-weight: 300;
}
.bmi .description {
    margin-top: -2rem;
    color: var(--textRed);
}
.bmi-result {
    font-weight: 500;
    font-size: 4rem;
    color: var(--pastelRed);
}
.bmi .danger {
    color: var(--pastelRed);
}
.bmi .copy {
    margin-top: 3rem;
    color: var(--textRed);
}
.bmi-wrapper  .links {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bmi-wrapper .links a {
    color: var(--mainText);
    border: 1px solid var(--mainText);
    border-radius: 1rem;
    padding: .8rem 2rem;
    margin: 2rem 0 5rem 0;
    transition: .3s ease-in-out;
}
.bmi-wrapper .links a:hover {
    transform: translateY(5px);
    background-color: var(--btnActive);
    border: 1px solid transparent;
}



@media (min-width: 767px) {
    .bmi h1 {
        font-size: 5rem;
    }

    .imperial-input .height input:last-child,
    .imperial-input .weight input:last-child {
        margin-left: 1rem;
    }
}
